<div class="tab-content">

  <div role="tabpanel" class="tab-pane active" id="1">

      <div class="question">
        <%= render "intro" %>
      </div>
      <h1 class="arrow-next" ng-click="submitIntro(firstName, lastName, stateInput, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>
  </div>


  <div role="tabpanel" class="tab-pane" id="2">
    <% @partials[1..2].each do |partial| %>
      <div class="question">
          <%= render "#{partial}" %>
      </div>
    <% end %>
    
    <h1 class="arrow-before" ng-click="submitTravel(mileage, carMiles, fuelType, miles, publicType, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>

    <h1 class="arrow-next" ng-click="submitTravel(mileage, carMiles, fuelType, miles, publicType, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>
  </div>


  <div role="tabpanel" class="tab-pane" id="3">
    <div class="question">
      <%= render "#{@partials[3]}" %>

      <h1 class="arrow-before" ng-click="submitAir(airMiles, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>

      <h1 class="arrow-next" ng-click="submitAir(airMiles, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>
      
    </div>
  </div>


  <div role="tabpanel" class="tab-pane" id="4">
    <% @partials[4..5].each do |partial| %>
      <div class="question">
        <%= render "#{partial}" %>
      </div>
    <% end %>

      <h1 class="arrow-before" ng-click="submitEnergy(electricityInput, electricityType, naturalInput, naturalType, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>

      <h1 class="arrow-next" ng-click="submitEnergy(electricityInput, electricityType, naturalInput, naturalType, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>
  </div>

  <div role="tabpanel" class="tab-pane" id="5">
    <% @partials[6..7].each do |partial| %>
      <div class="question">
        <%= render "#{partial}" %>
      </div>
    <% end %>

    <h1 class="arrow-before" ng-click="submitHeat(heatingInput, heatingType, propaneInput, propaneType, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>

    <h1 class="arrow-next" ng-click="submitHeat(heatingInput, heatingType, propaneInput, propaneType, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>
  </div>


  <div role="tabpanel" class="tab-pane" id="6">
    <div class="question">
      
      <%= render "home" %>

    </div>

    <h1 class="arrow-before" ng-click="submitHome(homeSqft, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>

    <h1 class="arrow-next" ng-click="submitHome(homeSqft, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>

  </div>

  <div role="tabpanel" class="tab-pane" id="7">
    <div class="question">
      <%= render "food" %>
    </div>
    

    <h1 class="arrow-next" ng-click="submitFood(meat.value, dairy.value, grains.value, fruit.value, other.value, 2)"><i class="fa fa-chevron-circle-right fa-lg"></i></h1>

    <h1 class="arrow-before" ng-click="submitFood(meat.value, dairy.value, grains.value, fruit.value, other.value, 1)"><i class="fa fa-chevron-circle-left fa-lg"></i></h1>
  </div>

  <div role="tabpanel" class="tab-pane" id="8">
    <%= render "show_partial" %>
  </div>


</div>






