<body id="show-body">
 <!--  <h2>You produced <span id="total"><%=  %></span> megatonnes of carbon dioxide per year, <span id="equivalent">that is equivalent to...</span></h2>
 -->
  <table id="show-table">
    <tr><td colspan="2"><h4>Greenhouse gas emissions from</h4></td></tr>
    <tr>
      <td width="20%"><p><%= @cars %> passenger vehicles driven for one year</p></td>
      <td><% @cars_counter.times do %>
            <i class="material-icons">directions_car</i>
          <% end %>
      </td>
    </tr>
    <tr>
      <td><p><%= @waste %> tons of waste sent to landfill</p></td>
      <td><% @waste_counter.times do %>
            <i class="material-icons">local_shipping</i>
          <% end %>
      </td>
    </tr>
    <tr><td colspan="2"><h4>CO2 emissions from</h4></td></tr>
    <tr>
      <td><p><%= @oil %> barrels of oil consumed</p></td>
      <td><% @oil.times do %>
            <i class="material-icons">local_gas_station</i>
          <% end %>
      </td>
    </tr>
    <tr>
      <td><p><%= @homes %> homes' energy use for one year</p></td>
      <td><% @homes_counter.times do %>
            <i class="material-icons">home</i>
          <% end %>
      </td>
    </tr>
    <tr>
      <td><p><%= @turbines %> wind turbines installed</p></td>
      <td><% @turbines_counter.times do %>
            <i class="material-icons">toys</i>
          <% end %>
      </td>
    </tr>
    <tr><td colspan="2"><h4>Carbon sequestered by</h4></td></tr>
    <tr>
      <td><p><%= @acres %> acres of U.S. forests in one year</p></td>
      <td><% @acres_counter.times do %>
            <i class="material-icons">nature</i>
          <% end %>
      </td>
    </tr>
    <tr>
      <td><p><%= @trees %> tree seedlings grown for 10 years</p></td>
      <td><% @trees_counter.times do %>
            <i class="material-icons">filter_vintage</i>
      <% end %></td>
    </tr>
  </table>


  
</body>