<div class="page">

<%= include_gon %>

  <div id="pie-holder">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <div id="pieChartContainer" style="width: 700px; height: 500px; margin: 0 auto"></div>
  </div>
 
  <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
  <h3>Overall Footprint: <%= @user_profile.total_value %> MT CO2/year</h3>

  <h1><%= current_user.state %></h1>
  
  <h4><%= link_to "Update your footprint", "/footprints/#{current_user.id}/edit" %></h4>

  <h3>Here's how you can reduce your footprint:</h3>
  
  <form>
    <input type="checkbox" id="vehicleFunction"> Buy a more fuel efficient vehicle<br>
    <input type="checkbox" id="bike"> Ride your bike<br>
    <input type="checkbox" id="carpool"> Carpool to work<br>
    <input type="checkbox" id="veg"> Go vegetarian<br>
    <input type="checkbox" id="solar"> Install PV panels in your home<br>
  </form> 

  <h3>Here's how you stack up against other users:</h3>
  
  <div id="footprint-tracker">
    <p>New footprint:</p>
    <p id="updated-footprint"><%= @user_profile.total_value %></p>
    <p> MT CO2/year</p>
  </div>

  <div id="bar-holder">
    <div id="barChartContainer" style="width: 700px; height: 500px;"></div>
  </div>
  ""
</div> <!-- end of PAGE DIV -->



  

