<div class="page">
  <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>





  
  <div id="canvas-holder">
    <canvas id="myChart" width="350" height="350">
      <script src="Chart.js"></script>
    </canvas>

    <div id="js-legend" class="chart-legend"></div>
  </div>

  <%= include_gon %>
  <table id="habits">
    <tr>
      <th>Type</th>
      <th>Value</th>
    </tr>
    <% @user_habits.each do |habit| %>
      <tr>
        <td><%= habit.footprint_type %></td>
        <td><%= habit.value %></td>
      </tr>
    <% end %>
  </table>

  <h3>Overall Footprint: <%= @user_profile.total_value %>
   MT CO2/year</h3>

  <h4><%= link_to "Edit your footprint", "/footprints/#{current_user.id}/edit" %></h4>


  <h3>Here's some ideas on how to reduce your footprint:</h3>
  
  <form id="form">
    <input type="checkbox" id="bike"> Ride your bike<br>
    <input type="checkbox" id="vehicle" onclick="change()"> Buy a more fuel efficient vehicle<br>
  </form>


  <h3>Here is how you stack up against other users:</h3>
  <ol>
    <% @ordered_profiles.each do |profile| %>
      <% if profile.user == current_user %>
        <li>You: <%= profile.total_value %> MT CO2/year</li>
      <% else %>
       <li><%= profile.user.first_name %>: <%= profile.total_value %> MT CO2/year</li>
      <% end %>
    <% end %>
  </ol>
</div>

