<h3>Question 2: Vehicle</h3>
<% options = options_for_select([["Gasoline", 8.887], ["Diesel", 10.18]]) %>

  <div>
    <p><%= label_tag "Car mileage:" %>
       <%= text_field_tag :mileage %></p>

    <p><%= label_tag "Miles per year:" %>
       <%= text_field_tag :car_miles %></p>
    
    <p><%= label_tag "Type of fuel" %>
       <%= select_tag(:fuel_type, options) %></p>
  
       <%= hidden_field_tag :type, "vehicle"  %>
       <%= hidden_field_tag :page, 2 %>
  <div>




