<h3>Question 2: Commuting in vehicle</h3>
<%= form_tag "/habits", method: :post do %>
<% options = options_for_select([["Gasoline", "gasoline"], ["Diesel", "diesel"]]) %>

  <div>
    <p><%= label_tag "Car mileage:" %>
       <%= text_field_tag :mileage %></p>
    <p><%= label_tag "Miles roundtrip in your commute:" %>
       <%= text_field_tag :car_miles %></p>
    <p><%= label_tag "Type of fuel" %>
       <%= select_tag(:fuel_type, options) %></p>
  
       <%= hidden_field_tag :type, "vehicle"  %>
       <%= hidden_field_tag :page, 2 %>
  <div>

  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
