<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
<h3><%= current_user.email %></h3>
<h4>Carbon footprint breakdown (in MT CO2/year):</h4>
<h4><%= link_to "Edit your footprint", "/habits/#{current_user.id}/edit" %></h4>
<ul>
<% @user_habits.each do |habit| %>
  <li><%= habit.footprint_type %>: <%= habit.value %></li>
<% end %>
</ul>

<h4>Overall Footprint: <%= @total_footprint %> MT CO2/year</h4>

<h3>Here's some ideas on how to reduce your footprint:</h3>
<ul>
  <li>Ride your bike</li>
  <li>Carpool to work</li>
  <li>Install PV panels</li>
  <li>Buy a more fuel efficient vehicle</li>
  <li>Eat a vegetarian diet</li>
</ul>

<h3><a href="http://www.dsireusa.org/">Click here </a>to learn about incentives for going GREEN!</h3>
  




