<h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
<h3><%= current_user.email %></h3>
<h4>Carbon footprint breakdown (in MT CO2/year):</h4>
<ul>
<% @user_habits.each do |habit| %>
  <li><%= habit.footprint_type %>: <%= habit.value %></li>
<% end %>
</ul>

<h4>Overall Footprint: <%= @total_footprint %> MT CO2/year</h4>
<h4><%= link_to "Edit your footprint", "/habits/#{current_user.id}/edit" %></h4>



