<!DOCTYPE html>
<html>
<head>
  <title>CarbonFootprintApp</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<style>
  body {
    padding-top: 70px; 
  }
</style>


<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to "My footprint", "/footprints/#{current_user.id}" %></li>
          <% else %>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>
          <% end %>
          <li><%= link_to "Sign out", "/users/sign_out", method: :delete if user_signed_in? %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



   
   

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    </div>
  </nav>

  



<%= yield %>

</body>
</html>
